@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

h1 {
    margin: 1.5% auto;
}

#search {
    width: 100%;
}